
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#gameItem {
  background-color: rgb(229, 210, 2);
  width: 50px;
  height: 50px;
  position: absolute;
  /* left: 100px;  */ /* you can set the initial position of the game item here */
  /*  top: 100px;  */ /* you can set the initial position of the game item here */  
}
 #walker {
  background-color: rgb(229, 210, 2);
  width: 50px;
  height: 50px;
  position: absolute;
 }